
.button{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 200px;
    height: 200px;
  
}
.button button{
    background-color:rgb(236, 242, 236);
    border-color: rgb(222, 147, 119);
    font-size: 20px;
    color: rgb(238, 102, 52);
    display: flex;
    padding: 12px;
    flex-wrap: wrap;
    width: 200px;
    justify-content: center;
    height: 50px;
    margin-left: 8px;
    margin-top: 20px;
}
.button button:hover{
    background-color:rgb(198, 238, 204) ;
}


