.about{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 100px;
}
.about p {
    width: 150vh;
    height: 100px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    font-size: 30px;
    transition: transform 0.2s;
}
.about.orangered {
    background-color: rgb(249, 244, 249);
}
.about.white {
    background-color:orangered;
}