.Bestsellers{
    width: 100%;
    max-height: 50%;
    background-color: rgb(249, 244, 249);
    display: flex;
    flex-wrap: wrap;
}
#OP3{
    margin-left: 10%;
    color: orangered;
    margin-top: 5%;
}
#Cat3{
    color: orangered;
    height: 100px;
    width: 100%;
    font-size: 40px;
    margin-top: 30px;
    margin-left: 10%;
    display: flex;
    flex-wrap: wrap;
}
.product33{
    width: 400px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    margin-left: 10%;
}
.product44{
    width: 400px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
}
.product55{
    width: 400px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
}
#img14{
    height: 80%;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
}
#img14:hover{
    transform: scale(1.1);
}
#GD1{
    color: orangered;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 1px;
    margin-top: 20px;
    margin-left: 10%;
}
#GD2{
    color: orangered;
    font-size: 20px;
    width: 300px;
    font-weight: 600;
    margin-bottom: 1px;

}








