.Footer{
    background-color: rgb(249, 244, 249);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.Deatils{
    list-style: none;
    padding: 12px;
    margin: 2%;  
}
.logo1{
    text-decoration: none;
    font-size: 20px;
    width: 100px;
    height: 50px;
    margin-bottom: 8%;
    display: flex;
    font-weight: 550;
    justify-content: center;
    align-items: center;
}
#logo1{
    color: rgb(45, 132, 45);
    text-decoration: none;
    font-size: 20px;
    width: 20px;
    height: 50px;
    margin-bottom: 8%;
    display: flex;
    font-weight: 550;
}
#Email{
    height: 40px;
    text-align: center;
}
#Number{
    height: 40px;
    text-align: center;
}
#Addres{
    height: 40px;
    width: 200px;
    text-align: center;
}
.Products{
    list-style: none;
    padding: 12px;
    margin: 2%;
    text-align: center;
    font-size: 16px;
}
#Products{
    height: 40px;
    color: orangered;
    font-size: 16px;
}
#GourmetDelights:hover{
    color: green;
}
#GourmetDelights{
    height: 40px;
}
#FruitTreats{
    height: 40px;
}
#FruitTreats:hover{
    color: green;
}
#Bestsellers{
    height: 40px;
}
#Bestsellers:hover{
    color: green;
}
.Signin{
    list-style: none;
    padding: 12px;
    margin: 2%;
    text-align: center;
    font-size: 16px;
}
#input {
        height: 20px;
        width: 130px;
        color: green;
        font-size: 14px;
        display: flex;
        flex-wrap: wrap;
        border-radius: 5px;
        border-color: pink;
}
.Signin button{
        color: orangered;
        border-radius: 5px;
        border-color: white;
        width: 80px;
        height: 30px;
        margin: 10%;

}
.Signin button:hover{
    color: white;
    background-color:orangered;

}
.Socialmedia{
    list-style: none;
    padding: 12px;
    margin: 2%;
    justify-content: center;
    
}
#SocialMedia{
    font-size: 16px;
    height: 40px;
    width: 100px;
    color: orangered;
    text-align: center;
}
.cart1{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
