.GDProducts1{
    width: 100%;
    max-height: 40%;
    display: flex;
    flex-wrap: wrap;
    margin-left: 10%;
    margin-bottom: 2%;
}
#OP2{
    color: orangered;
    margin-top: 5%;

}
#Cat2{
    color: orangered;
    height: 100px;
    width: 100%;
    font-size: 40px;
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
}
.product6{
    width: 400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.product7{
    width: 400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 20px;
}
.product8{
    width: 400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 20px;
}
#test-img{
    height: 40%;
    width: 40%;
    display: flex;
    flex-wrap: wrap;
    border-radius: 50%;
}
#GD3{
    color: orangered;
    font-size: 20px;
    margin-top: 20px;
}
#GD4{
    color: orangered;
    font-size: 20px;
    width: 300px;
    margin-top: 10px;
}








